* {
    margin: 0;
    padding: 0;
}

#box {
    position: absolute;
    /* top: 50%; */
    left: 35%;
    width: 480px;
    height: 600px;
    background: url(img/bigbg.png);
    position: relative;
    overflow: hidden;
}

#bg {
    position: absolute;
}

#bg .chedao {
    width: 230px;
    height: 1775px;
    /* height: 600px; */
    margin-left: 130px;
    float: left;
}

#car {
    width: 30px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    left: 150px;
}

#box2 {
    width: 480px;
    height: 600px;
    position: relative;
    left: 0;
    padding: 0;
    background: rgb(254, 79, 79);
    ;
    z-index: 9;
    display: none
}

#box2 p {
    font-size: 40px;
    font-weight: "楷体";
    text-align: center;
    padding-top: 100px;
}

#btn {
    width: 200px;
    height: 50px;
    margin-left: 150px;
    text-align: center;
    margin-top: 100px;
}

#timer {
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 30px;
}

.mycar {
    width: 30px;
    height: 80px;
}

.box_Prompt {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}