* {
    margin: 0;
    padding: 0;
}

.example {
    border: none;
}

input {
    outline: none;
}

/* 头部样式 */
.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(142, 142, 142, 0.637);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}

/* 头部logo */
.headerlogo {
    width: 30%;
    float: left
}

.logoimg {
    width: 30%;
}

/* 中间间隔 */
.headerz {
    width: 40%;
    height: 20px;
    float: left;
    font-size: 100%;
}

/* 头部右侧 */
.headery {
    width: 30%;
    height: 20px;
    float: right
}

/* 底部样式 */
.footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(142, 142, 142, 0.637);
    box-shadow: 16px 16px 16px 16px rgba(0, 0, 0, 0.2), 16px 16px 16px 16px rgba(0, 0, 0, 0.19);
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.footerp {
    color: rgb(255, 255, 255);
    height: 30px;
}

.main {
    background-color: rgb(215, 215, 215);
}

.mainkong {
    width: 9%;
    aspect-ratio: 1/1;
}

.mainlog {
    width: 100%;
    aspect-ratio: 5/3;
    background-image: url(./去有风的地方.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img33 {
    width: 100%;
    aspect-ratio: 5/3;
    font-size: 0px;
}

.maina {
    width: 100%;
    /* height: 260px; */

}

.mainz {
    width: 50%;
    float: left;
    background-color: rgb(215, 215, 215);
}

.mainy {
    width: 50%;
    float: right;
    background-color: rgb(215, 215, 215);
}

.mainzuo {
    width: 80%;
    background-color: rgba(145, 145, 145, 0.637);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainyou {
    width: 80%;
    background-color: rgba(145, 145, 145, 0.637);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainzi {
    width: 80%;
    background-color: rgb(186, 184, 184);
    color: rgb(82, 82, 82);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .h4 {
    font-size: 5px;
} */
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/* .kongbai {
    width: 100%;
    height: 20px;
} */

.mainimg {
    width: 80%;

}

.img1 {
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.geduan {
    background-color: rgb(215, 215, 215);
    clear: both;
    text-align: center;
    height: 30px;
}