/* 头部 */
.header {
    width: 100%;
    background-color: rgba(204, 206, 206, 0.938);
}

/* 列容器 */
/* 创建两个列 */
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;
}

/* 左侧购票 */
.side {
    -ms-flex: 40%;
    flex: 40%;
    /* background-color: rgba(255, 0, 0, 0.938); */
    padding: 0px;
    min-height: 350px;
    /* transform: translate(30px, 10px); */
}

/* 右侧轮播图 */
.main {
    -ms-flex: 60%;
    flex: 60%;
    padding: 0px;
    min-width: 300px;
}

/* 左侧图标样式 */
.side_logo {
    -ms-flex: 40%;
    flex: 40%;
    background-color: rgba(204, 206, 206, 0.938);
    padding: 0px;
    height: 50px;
}

.main_logo {
    -ms-flex: 60%;
    flex: 60%;
    padding: 0px;
    z-index: 3px auto;
}

.logo_div {
    width: 350px;
    /* background-color: aqua; */
    font-size: 0px;
    height: 50px;
}

.logo_size_a {
    color: rgb(82, 82, 253);
    display: inline-block;
    transform: translate(3px, 10px);
    font-weight: bold;
}

.logo_size_b {
    color: tomato;
    display: inline-block;
    transform: translate(3px, 10px);
    font-weight: bold;
}

/* 菜单 */
.menu {
    width: 100%;
    /* background-color: rgb(0, 232, 232); */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(227, 228, 228, 0.938);
}

li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ffffff;
}

.active {
    background-color: #767976;
}

/* 输入框样式 */
.input_buy {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    /* border: none; */
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    border-radius: 15px;
    min-width: 300px;
    max-width: 400px;
}

/* 图片大小 */
.d-block {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.logo {
    height: 50px;
    width: 80px;
    display: inline-block;
}

/* 修改订票字体颜色 */
.twins_h2 {
    color: #ffffff;
    transform: translate(0px, 10px);
}

/* 勾选框 */
.check {
    width: 90%;
}

.check_input {
    color: rgb(253, 255, 255);
    /* width: 72px; */
}

/* 设置盒子 */
.buy_box {
    width: 80%;
    min-width: 320px;
    background-color: rgba(204, 206, 206, 0.938);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    transform: translate(0px, 20px);
}

.carousel_box {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translate(0px, 20px);
}

.img_size {
    color: rgb(255, 255, 255);
    background-color: #767976a2;
    border-radius: 10px;
    transform: translate(0px, 20px);

}

/* 在线预定服务样式 */
.txt {
    width: 100%;
    /* background-color: aqua; */
    transform: translate(0px, 50px);
    font-weight: bold;
}


.side_1 {
    -ms-flex: 33%;
    flex: 33%;
    /* background-color: rgba(255, 0, 0, 0.938); */
    padding: 0px;
    /* min-height: 350px; */
    transform: translate(0px, 60px);
    min-width: 350px;
}

.side_1_img {
    width: 70%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.side_1_h3 {
    transform: translate(0px, 15px);
    width: 80%;
    font-weight: bold;
}

.side_1_p {
    transform: translate(0px, 10px);
    width: 75%;
}

/* 我们的优势样式 */
.txt_2 {
    width: 100%;
    /* background-color: aqua; */
    transform: translate(0px, 100px);
    font-weight: bold;
}

.side_2 {
    -ms-flex: 25%;
    flex: 25%;
    /* background-color: rgba(255, 0, 0, 0.938); */
    padding: 0px;
    /* min-height: 350px; */
    transform: translate(0px, 125px);
    min-width: 300px;
}

.side_2_img {
    width: 20%;
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 20px;
    max-width: 75px;
}

.side_2_h3 {
    transform: translate(0px, 15px);
    width: 90%;
    font-weight: bold;
}

.side_2_p {
    transform: translate(0px, 10px);
    width: 75%;
}

/* 尾部样式 */
.Tail {
    width: 100%;
    background-color: rgb(227, 228, 228);
    transform: translate(0px, 140px);
}

.row_3 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;
}

.side_3 {
    -ms-flex: 50%;
    flex: 50%;
    /* background-color: rgba(255, 0, 0, 0.938); */
    padding: 0px;
    /* min-height: 350px; */
    /* transform: translate(0px, 125px); */
    min-width: 480px;
    background-color: rgba(204, 206, 206, 0.938);
}

.side_size_a {
    color: rgb(82, 82, 253);
    display: inline-block;
    transform: translate(3px, 10px);
    font-weight: bold;
}

.side_size_b {
    color: tomato;
    display: inline-block;
    transform: translate(3px, 10px);
    font-weight: bold;
}

.side_size_p {
    width: 75%;
}

.side_size_h5 {
    color: #767976;
    transform: translate(3px, 10px);
    display: inline-block;
    font-weight: bold;
}

.side_3_box {
    width: 40%;
    height: 20px;
    /* background-color: aqua; */
}

.side_4 {
    transform: translate(0px, 10px);
    -ms-flex: 25%;
    flex: 25%;
    padding: 0px;
}

.dide_4_img {
    width: 70%;
    background-color: rgba(204, 206, 206, 0.938);
}

.tail_a {
    width: 100%;
    height: 90px;
    background-color: rgb(255, 255, 255);
}

.tail_b {
    width: 100%;
    height: 90px;
    background-color: rgba(204, 206, 206, 0.938);
}